<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="PageSize" value="25" />
    <!--  文件上传保存路径  -->
    <add key="UploadFileDomain" value="http://localhost" />
    <add key="UploadFilePath" value="/UploadPhoto/" />
    <!--  短信配置  -->
    <add key="SerialNumber" value="7SDK-LHW-0588-PFRLK" />
    <add key="SerialKey" value="863270" />
    <add key="SerialPassword" value="863270" />
    <add key="SmsSignature" value="【铁子帮】" />
    <!--	微信	-->
    <add key="WXOpenId" value="8Oh7CZ​" />
    <add key="WXToken" value="8Oh7CZ​" />
    <add key="WXAppId" value="wx5208afb8f7815882​" />
    <add key="WXAppSecret" value="fa7f575cde2b4747f179e4f9f979ce70" />
    <add key="next_openid" value="oT991jut7H09mVWuVc_bwO2juohc" />
    <!--	注册码	-->
    <add key="License" value="b550223988e7859f75ac7bd8f5aec026" />
    <add key="FinwinUD" value="Oe3/CnkvdNFSXr94276akg==f4f4d5122c19166479ee50053ba67d12" />
    <!--	极光推送	-->
    <add key="JApiKey" value="db819fdf9c73cec2acf4f274" />
    <add key="JAPIMasterSecret" value="da7e3d639ec63cde76cc6362" />
    <!--	马驹保险系统消息	-->
    <add key="SysMessageTitle" value="马驹保险" />
  </appSettings>
    <connectionStrings>
        <add name="MJBXConnectionString" connectionString="Data Source=192.168.1.254;Initial Catalog=MJBX;Persist Security Info=True;User ID=sa;Password=enow"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="2000000" executionTimeout="300" requestValidationMode="2.0" />
      <customErrors mode="Off" />
      <pages validateRequest="false" enableViewState="false" />
        <compilation debug="true" targetFramework="4.0" />
    </system.web>  
</configuration>
